$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// colors
$white: #ffffff;
$lightGray: rgba(230,230,230,1);
$veil: rgba(185,185,185,0.3);
$darkPurple: #3C153B;
$spanishViolet: #4B296B;
$japaneseIndigo: #2A3D45;
$vividBurgundy: #A51C30;
$gunmetal: #2B2D42;

.app-skin {
  background-color: $lightGray;
  height: 100vh;
  padding: 0;
}

.v1-header {
  background-color: $spanishViolet;
  color: $white;
  margin: 0;
  padding: 20px;
  text-align: center;
}
